.sell-container
  .sell-container-inner
    %h2 商品の情報を入力
    = form_for @item,:url => {:action => :create} do |f| # TODO: 要修正
          
      .sell-upload-box
        %h3.sell-upload-head
          出品画像
          %span.form-require
            必須

      .sell-content
        .form-group
          %label
            商品名
            %span.form-require
              必須
          %div
          = f.text_field :name
        .form-group
          %label
            商品の説明
            %span.form-require
              必須
          %div
          = f.text_field :description

      .sell-content
        %h3
          商品の詳細
        .sell-form-box
          .form-group
            %label
            カテゴリー
            %span.form-require
              必須
            %div
            %select
              %option ---
              %option ベタ書きで良いか?
          .form-group
            %label
            商品の状態
            %span.form-require
              必須
            %div
            %select
              %option ---
              %option 新品、未使用
          .form-group
            %label
            サイズ
            %span.form-require
              必須
            %div
            %select
              %option S
              %option M
              %option L
          .form-group
            %label
            ブランド
            %span.form-require
              任意
            %div
            // TODO: インクリメンタルサーチ
            = f.text_field :description

      .sell-content
        %h3
          配送について
        .sell-form-box
          .form-group
            %label
              配送料の負担
              %span.form-require
                必須
            %div
            %select
              %option ---
              %option ベタ書きで良いか?
          .form-group
            %label
              発送元の地域
              %span.form-require
                必須
            %div
            %select
              %option ---
              %option 新品、未使用
          .form-group
            %label
              発送までの日数
              %span.form-require
                必須
            %div
            %select
              %option ---
              %option 新品、未使用

      .sell-content
        %h3
          販売価格(300〜9,999,999)
        .sell-form-box
          %ul.sell-price
            %li.form-group
              .clear-fix
                %label.l-left
                  価格
                  %span.form-require
                    必須
                .sell-price-input
                  ¥
                  %div
                    = f.text_field :price
            %li
              .l-left
                販売手数料 (10%)
            %li
              .l-left
                販売利益
      .sell-content
        %div
          %p 禁止されている出品、行為を必ずご確認ください。
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p また、出品をもちまして加盟店規約に同意したことになります。
        = f.submit "登録する"
        %a 戻る
