%section.items-box
  = link_to 'https://item.mercari.com/jp/m824989204/' do
    %figure.items-box__photo
      = image_tag 'https://static.mercdn.net/thumb/photos/m12480789936_1.jpg?1557582225', alt: 'MISCH MASCHのパーティドレス'
    .items-box__body
      %h3.items-box__name MISCH MASCHのパーティドレス
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          %i.fa.fa-heart-o{"aria-hidden": "true"}
          %span 1
      %p.items-box__tax (税込)
%section.items-box
  = link_to 'https://item.mercari.com/jp/m824989204/' do
    %figure.items-box__photo
      = image_tag 'https://static.mercdn.net/thumb/photos/m12480789936_1.jpg?1557582225', alt: 'MISCH MASCHのパーティドレス'
    .items-box__body
      %h3.items-box__name MISCH MASCHのパーティドレス
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          %i.fa.fa-heart-o{"aria-hidden": "true"}
          %span 1
      %p.items-box__tax (税込)
%section.items-box
  = link_to 'https://item.mercari.com/jp/m824989204/' do
    %figure.items-box__photo
      = image_tag 'https://static.mercdn.net/thumb/photos/m12480789936_1.jpg?1557582225', alt: 'MISCH MASCHのパーティドレス'
    .items-box__body
      %h3.items-box__name MISCH MASCHのパーティドレス
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          %i.fa.fa-heart-o{"aria-hidden": "true"}
          %span 1
      %p.items-box__tax (税込)
%section.items-box
  = link_to 'https://item.mercari.com/jp/m824989204/' do
    %figure.items-box__photo
      = image_tag 'https://static.mercdn.net/thumb/photos/m12480789936_1.jpg?1557582225', alt: 'MISCH MASCHのパーティドレス'
    .items-box__body
      %h3.items-box__name MISCH MASCHのパーティドレス
      .items-box__num
        .items-box__price ¥ 700
        .items-box__likes
          %i.fa.fa-heart-o{"aria-hidden": "true"}
          %span 1
      %p.items-box__tax (税込)
