%header.header
  .header-inner
    .header__top
      %h1.header__top__title
        = link_to root_path do
          = image_tag "merukari.svg"
      %form.header__top__form{action: ""}
        %input.input-default{name: "keyword", placeholder: "何かお探しですか?", type: "search"}/
        =fa_icon("search")
    .header__nav-box.clearfix
      .left-nav
        %ul.left-nav__list
          %li
            %h2
              = link_to root_path, class: 'nav-root-list-parent' do
                =fa_icon("list")
                %span カテゴリーから探す
            %ul.nav-list-parent
              %li.nav-list-parent__item
                %h3
                  = render partial: 'layouts/categories_link', collection: @categories_list, as: 'ele'
                %ul.nav-list-child
                  %li.nav-list-child__item
                    .nav-list-child__item__inner
                    %ul.nav-list-grand-child
          %li
            %h2
              = link_to root_path, class: 'nav-root-list-parent' do
                %i.fa.fa-tag{"aria-hidden": "true"}
                %span ブランドから探す
              %ul.nav-list-parent
                %li.nav-list-parent__item
                  %h3
                    = link_to root_path do
                      シャネル
      .right-nav
        %ul.user-nav
          - if current_user
            %li.user-nav__item
              = link_to root_path, class: 'user-nav__item__link' do
                =fa_icon("heart")
                %span いいね！一覧
            %li.user-nav__item
              = link_to root_path, class: 'user-nav__item__link' do
                =fa_icon("bell")
                %span お知らせ
                .user-nav__item__link__count
                  7
              %ul.user-nav__item__box.mypage-item-list
                %li
                  = link_to root_path, class: 'mypage-item-link' do
                    %figure
                      = image_tag "mercari_profile.png"
                    .mypage-item-link__body
                      .mypage-item-link__body__text
                        「ファミチキ」「からあげクン」「ななチキなどの揚げ物」が"¥11〜"で買えるクーポン配信中！
                      .mypage-item-link__body__time
                        %i.fa.fa-clock-o{"aria-hidden": "true"}
                        %span#news-time 8時間前
                    %i.fa.fa-arrow-right{"aria-hidden": "true"}
            %li.user-nav__item
              = link_to root_path, class: 'user-nav__item__link' do
                =fa_icon("check")
                %span やることリスト
              %ul.user-nav__item__box.mypage-item-list
                %li
                  = link_to root_path, class: 'mypage-item-link' do
                    %figure
                      = image_tag "mercari_profile.png"
                    .mypage-item-link__body
                      .mypage-item-link__body__text
                        ○○○○さんから「〜〜〜」の取引メッセージがあります。返信をお願いします
                      .mypage-item-link__body__time
                        %i.fa.fa-clock-o{"aria-hidden": "true"}
                        %span#news-time 2時間前
                    %i.fa.fa-arrow-right{"aria-hidden": "true"}
            %li.user-nav__item
              = link_to users_path(current_user), class: 'user-nav__item__link' do
                %figure>
                  %div
                    = image_tag "member_photo_noimage_thumb.png", class: "small-member-photo"
                \&gt;
                %span マイページ
              .user-nav__item__box.mypage-box
                .mypage-state.text-center
                  .mypage-state__my-info
                    %div
                      = image_tag "member_photo_noimage_thumb.png", class: "big-member-photo"
                    %p.my-name user
                  %ul.mypage-review
                    %li
                      = link_to root_path, class: 'mypage-review-link' do
                        評価:1
                    %li
                      = link_to root_path, class: 'mypage-review-link' do
                        出品数:0
                  %ul.mypage-sales-point
                    %li
                      = link_to root_path, class: 'mypage-sales-point-link clearfix' do
                        .mypage-sales-point-link__left
                          売上金
                        .mypage-sales-point-link__right
                          ¥0
                          %i.fa.fa-arrow-right{"aria-hidden": "true"}
                    %li
                      = link_to root_path, class: 'mypage-sales-point-link clearfix' do
                        .mypage-sales-point-link__left
                          ポイント
                        .mypage-sales-point-link__right
                          P 0
                          %i.fa.fa-arrow-right{"aria-hidden": "true"}
                %ul.mypage-nav-list
                  %li
                    = link_to root_path, class: 'mypage-nav-list-link' do
                      いいね!一覧
                      %i.fa.fa-arrow-right{"aria-hidden": "true"}
                  %li
                    = link_to root_path, class: 'mypage-nav-list-link' do
                      出品した商品 - 出品中
                      %i.fa.fa-arrow-right{"aria-hidden": "true"}
                  %li
                    = link_to root_path, class: 'mypage-sales-point-link clearfix' do
                      .mypage-sales-point-link__left
                        売上金
                      .mypage-sales-point-link__right
                        ¥0
                        =fa_icon("arrow-right")
                  %li
                    = link_to root_path, class: 'mypage-sales-point-link clearfix' do
                      .mypage-sales-point-link__left
                        ポイント
                      .mypage-sales-point-link__right
                        P 0
                        =fa_icon("arrow-right")
              %ul.mypage-nav-list
                %li
                  = link_to root_path, class: 'mypage-nav-list-link' do
                    いいね!一覧
                    =fa_icon("arrow-right")
                %li
                  = link_to root_path, class: 'mypage-nav-list-link' do
                    出品した商品 - 出品中
                    =fa_icon("arrow-right")
                %li
                  = link_to root_path, class: 'mypage-nav-list-link' do
                    出品した商品 - 取引中
                    =fa_icon("arrow-right")
                %li
                  = link_to root_path, class: 'mypage-nav-list-link' do
                    出品した商品 - 売却済み
                    =fa_icon("arrow-right")
                %li
                  = link_to root_path, class: 'mypage-nav-list-link' do
                    購入した商品 - 取引中
                    =fa_icon("arrow-right")
                %li
                  = link_to root_path, class: 'mypage-nav-list-link' do
                    購入した商品 - 過去の取引
                    =fa_icon("arrow-right")
                    = link_to root_path, class: 'mypage-nav-list-link' do
                      出品した商品 - 取引中
                      %i.fa.fa-arrow-right{"aria-hidden": "true"}
                  %li
                    = link_to root_path, class: 'mypage-nav-list-link' do
                      出品した商品 - 売却済み
                      %i.fa.fa-arrow-right{"aria-hidden": "true"}
                  %li
                    = link_to root_path, class: 'mypage-nav-list-link' do
                      購入した商品 - 取引中
                      %i.fa.fa-arrow-right{"aria-hidden": "true"}
                  %li
                    = link_to root_path, class: 'mypage-nav-list-link' do
                      購入した商品 - 過去の取引
                      %i.fa.fa-arrow-right{"aria-hidden": "true"}
          - else
            = link_to new_user_path, class: 'menu__signup redbtn' do
              %li
                新規会員登録
            = link_to new_user_session_path, class: 'menu__signin bluebtn' do
              %li
                ログイン
  = breadcrumbs separator: " &rsaquo; "
