%header.header
  .header-inner
    .header__top
      %h1.header__top__title
        %a{:href => "#"}
          = image_tag "merukari.svg"
      %form.header__top__form{:action => ""}
        %input.input-default{:name => "keyword", :placeholder => "何かお探しですか?", :type => "search"}/
        %i.fa.fa-search{"aria-hidden" => "true"}
    .header__nav-box.clearfix
      .left-nav
        %ul.left-nav__list
          %li
            %h2
              %a.nav-root-list-parent{:href => "#"}
                %i.fa.fa-list{"aria-hidden" => "true"}
                %span カテゴリーから探す
            %ul.nav-list-parent
              / 繰り返し
              %li.nav-list-parent__item
                %h3
                  %a{:href => "#"} レディース
                %ul.nav-list-child
                  / 繰り返し
                  %li.nav-list-child__item
                    %a{:href => "#"} トップス
                    %ul.nav-list-grand-child
                      / 繰り返し
                      %li.nav-list-grand-child__item
                        %a{:href => "#"} Tシャツ/カットソー(半袖/袖なし)
          %li
            %h2
              %a.nav-root-list-parent{:href => "#"}
                %i.fa.fa-tag{"aria-hidden" => "true"}
                %span ブランドから探す
              %ul.nav-list-parent
                / 繰り返し
                %li.nav-list-parent__item
                  %h3
                    %a{:href => "#"} シャネル
      .right-nav
        %ul.user-nav
          %li.user-nav__item
            %a.user-nav__item__link{:href => "#"}
              %i.fa.fa-heart-o{"aria-hidden" => "true"}
              %span いいね！一覧
          %li.user-nav__item
            %a.user-nav__item__link{:href => "#"}
              %i.fa.fa-bell-o{"aria-hidden" => "true"}
              %span お知らせ
              .user-nav__item__link__count
                7
            %ul.user-nav__item__box.mypage-item-list
              / 繰り返し
              %li
                %a.mypage-item-link{:href => "#"}
                  %figure
                    = image_tag "mercari_profile.png"
                  .mypage-item-link__body
                    .mypage-item-link__body__text
                      「ファミチキ」「からあげクン」「ななチキなどの揚げ物」が"¥11〜"で買えるクーポン配信中！
                    .mypage-item-link__body__time
                      %i.fa.fa-clock-o{"aria-hidden" => "true"}
                      %span#news-time 8時間前
                  %i.fa.fa-arrow-right{"aria-hidden" => "true"}
          %li.user-nav__item
            %a.user-nav__item__link{:href => "#"}
              %i.fa.fa-check{"aria-hidden" => "true"}
              %span やることリスト
            %ul.user-nav__item__box.mypage-item-list
              %li
                %a.mypage-item-link{:href => "#"}
                  %figure
                    = image_tag "mercari_profile.png"
                  .mypage-item-link__body
                    .mypage-item-link__body__text
                      ○○○○さんから「〜〜〜」の取引メッセージがあります。返信をお願いします
                    .mypage-item-link__body__time
                      %i.fa.fa-clock-o{"aria-hidden" => "true"}
                      %span#news-time 2時間前
                  %i.fa.fa-arrow-right{"aria-hidden" => "true"}
          %li.user-nav__item
            %a.user-nav__item__link{:href => "#"}
              %figure>
                %div
                  = image_tag "member_photo_noimage_thumb.png", class: "small-member-photo"
              \&gt;
              %span マイページ
            .user-nav__item__box.mypage-box
              .mypage-state.text-center
                .mypage-state__my-info
                  %div
                    = image_tag "member_photo_noimage_thumb.png", class: "big-member-photo"
                  %p.my-name user
                %ul.mypage-review
                  %li
                    %a.mypage-review-link{:href => "#"}
                      評価:1
                  %li
                    %a.mypage-review-link{:href => "#"}
                      出品数:0
                %ul.mypage-sales-point
                  %li
                    %a.mypage-sales-point-link.clearfix{:href => "#"}
                      .mypage-sales-point-link__left
                        売上金
                      .mypage-sales-point-link__right
                        ¥0
                        %i.fa.fa-arrow-right{"aria-hidden" => "true"}
                  %li
                    %a.mypage-sales-point-link.clearfix{:href => "#"}
                      .mypage-sales-point-link__left
                        ポイント
                      .mypage-sales-point-link__right
                        P 0
                        %i.fa.fa-arrow-right{"aria-hidden" => "true"}
              %ul.mypage-nav-list
                / 繰り返し
                %li
                  %a.mypage-nav-list-link{:href => "#"}
                    いいね!一覧
                    %i.fa.fa-arrow-right{"aria-hidden" => "true"}
                %li
                  %a.mypage-nav-list-link{:href => "#"}
                    出品した商品 - 出品中
                    %i.fa.fa-arrow-right{"aria-hidden" => "true"}
                %li
                  %a.mypage-nav-list-link{:href => "#"}
                    出品した商品 - 取引中
                    %i.fa.fa-arrow-right{"aria-hidden" => "true"}
                %li
                  %a.mypage-nav-list-link{:href => "#"}
                    出品した商品 - 売却済み
                    %i.fa.fa-arrow-right{"aria-hidden" => "true"}
                %li
                  %a.mypage-nav-list-link{:href => "#"}
                    購入した商品 - 取引中
                    %i.fa.fa-arrow-right{"aria-hidden" => "true"}
                %li
                  %a.mypage-nav-list-link{:href => "#"}
                    購入した商品 - 過去の取引
                    %i.fa.fa-arrow-right{"aria-hidden" => "true"}
